<template>
  <section class="container">
    <hr />
    <section class="holder">
      <HomeGuildCard guild="Front End" gtype="fe" />
      <HomeGuildCard guild="Back End" gtype="be" />
    </section>
  </section>
</template>

<script>
import { reactive, computed } from 'vue';
import { useStore } from 'vuex';
import HomeGuildCard from '@/components/HomeGuildCard.vue';

export default {
  components: {
    HomeGuildCard
  },
  setup() {
    const store = useStore();
    const data = reactive({
      guildType: 'Frontend Guild'
    });
    return {
      data,
      ceva: computed(() => store.getters.guildMembers)
      // access a mutation
      // increment: () => store.commit('increment'),
      // access an action
      // asyncIncrement: () => store.dispatch('asyncIncrement')
    };
  }
};
</script>

<style lang="scss">
.container {
  display: grid;
}
.holder{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
</style>
