<template>
  <div class="about-guild">
    <h1>This is the {{ guild }} card</h1>
  </div>
</template>

<script>
import { ref } from 'vue';
export default {
  props: {
    guild: String,
    gtype: String
  },
  setup(props) {
    const name = 'HomeGuildCard';
    const gtype = ref(props.gtype);
    console.log(gtype.value);
    return {
      name,
      ...props
    };
  }
};
</script>

<style lang="scss" scoped>
$yellow: #b58900;
$orange: #cb4b16;
$color-lgreen: #bada55;

.about-guild {
  display: flex;
  text-align: center;
  margin: 0 auto;
  color: $color-lgreen;
  h1 {
    color: $orange;
  }
}
</style>
