<template>
  <section class="header-container">
    <h2>house of dd-ro guilds</h2>
    <div id="nav">
      <router-link to="/">Home</router-link>
      <!-- <router-link to="/guilds">FE Guild</router-link> -->
    </div>
  </section>
  <section class="main-container">
    <router-view />
  </section>
</template>

<style lang="scss">
@import url('./assets/css/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import './assets/css/main.scss';

$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;
$bg-test: #94dc07;
.header-container{
  position: relative;
  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    font-style: italic;
    color: $violet;
    text-transform: uppercase;
    filter: drop-shadow(2px 6px 3px $base00);
  }
}
#nav {
  display: flex;
  padding: 30px;
  background-color: $bg-test;

  a {
    text-transform: uppercase;
    text-shadow: 1px 2px $base1;
    font-weight: bold;
    color: $base2;

    &.router-link-exact-active {
      color: $base01;
      text-decoration: none;
    }
  }
}
</style>
